<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Modify Protected Data</h1>
    <form method="post">
        <label for="secret_code">Secret Code:</label><br>
        <input type="password" id="secret_code" name="secret_code" required><br>
        <label for="new_data">New Data to Protect:</label><br>
        <textarea id="new_data" name="new_data" required></textarea><br>
        <button class="btn"   type="submit">Modify</button>
    </form>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
